.post-featured ul li a img{
    margin-left: 20px;
    margin-right: 0;
}
.authors ul li a img {
    margin-right: 0px;
    margin-left: 50px;
}
.verification::after {
    left: auto;
    right: 70px;
}
.social-share {
    left: auto;
    right: -180px;
}
